*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(130, 227, 195);
    color: #fff;
    padding: 10px;
}

.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1{
    font-size: 60px;
    color: rgb(43, 75, 171);
}

.calculator h1 span{
    color: rgb(210, 156, 90);
}

.inner{
    margin: 40px 0px;
    padding: 35px;
    border-radius: 10px;
    background-color: rgb(158, 95, 217);
    display: flex;
    align-items: center;
}

input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}

.inner button{
    font-size: 20px;
    background-color: rgb(200, 195, 46);
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    
}


#result{
    font-size: 30px;
    color: black;
}

#result span{
      color: rgb(32, 16, 168);
}
